* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(88, 78, 78);
}
.d-f {
  display: flex;
}
.d-ib {
  display: inline-block;
}

header {
  background-color: rgb(252, 252, 252);
  height: 10vh;
  width: 100vw;
}
/* //header-top-left */
.heading-top {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.23em;
  font-weight: bold;
  width: 100%;
}
.content {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-side-bar {
  background-color: rgb(26, 17, 77);
  color: white;
  height: 100%;
  width: 33%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.icon-top {
  font-size: 2.23rem;
  color: rgb(47, 47, 237);
}
/* header-top-main */
.top-main-bar {
  display: inline-block;

  height: 100%;
  width: 100%;
}
.block-search {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.3em;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 0.1em solid #555252;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
}

.icon-magnify {
  font-size: 1.2rem;
  color: rgb(73, 68, 68);
}

.searcht {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 300;
  height: 100%;
  width: 60%;
}

/* header-top-right */
.top-right {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.moonr {
  transform: rotateY(180deg);
}
.userprofile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 100%;
}
.userborder {
  display: flex;
  border-radius: 0.21em;

  background-color: rgba(237, 230, 230, 0.719);
  width: 60%;
  height: 40%;
}
.usertext {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.profile {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.moonborder {
  display: flex;
  justify-content: center;
  border-radius: 0.21em;
  align-items: center;
  background-color: rgba(237, 230, 230, 1);
  width: 10%;
  height: 40%;
  border-width: 1em;
  border-color: black;
}
.moonr {
  color: rgb(205, 114, 9);
  background-color: blanchedalmond;
  border-width: 1em;
  border-color: black;
}
/* MAIN CONTENT  LEFT*/
.main {
  width: 100vw;
  height: 90vh;
  display: flex;
}
.left-content {
  display: inline-block;
  background: linear-gradient(0.39turn, #010721, #2944b9);
  height: 100%;
  width: 33%;
}

.d-icon,
.u-icon {
  color: white;
  display: inline-block;
}
.icon {
  color: rgb(182, 171, 171);
}
.m-heading {
  color: white;
  display: inline-block;
  font-size: 1.19rem;
}
.ic {
  display: inline-block;
}
.fedit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
  height: 43%;
}
.mf:hover {
  width: 69%;
  height: 9%;
  font-size: 1rem;
  background-color: rgb(74, 74, 177, 0.8);
  border-radius: 0.21rem;
}

/* MAIN CONTENT RIGHT */

.right-content {
  display: inline-block;
  width: 175%;
  height: 100%;

  background-color: rgba(237, 230, 230, 1);
}
.right-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  height: 20%;
  width: 100%;
}
.truc {
  display: inline-block;
  border-radius: 0.6rem;
  background: white;
  width: 23%;
  height: 61%;
}
.bgmi {
  color: rgb(0, 0, 0);
  width: 20%;
  height: 10%;
  display: inline-block;
}
.upper-content-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.totaluser {
  width: 20%;
  height: 60%;
}
.truc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-user {
  color: #2944b9;
}
.i-ruc {
  display: inline-block;
  width: 20%;
  height: 80%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-sack-dollar {
  color: rgb(30, 135, 103);
}
.fa-cart-shopping {
  background-color: rgba(152, 23, 23, 0.867);
  color: #fff;
}
.fa-headset {
  color: #2c3c82;
}
.huc {
  width: 100%;
  height: 60%;
  display: inline-block;
  margin-top: 0.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.hucno {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}
/* main-content-middle */
.right-middle {
    display: flex;
    margin-left: 1.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 50%;
}
.m-box {
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  background-color: white;
}
.f-m-box {
  width: 45%;
  height: 80%;
  border-style: dashed;
  border-width: 0.1rem;
  border-color: rgb(126, 122, 122);
  display: inline-block;
  border-radius: 0.92rem;
  background-color: rgb(228, 222, 222, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-m-box {
  width: 45%;
  height: 80%;
  border-style: dashed;
  border-width: 0.1rem;
  border-color: rgb(126, 122, 122);
  display: inline-block;
  border-radius: 0.92rem;
  background-color: rgb(228, 222, 222, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-mb {
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 80%;
  font-size: 1.6rem;
  font-weight: lighter;
}
.s-m-head {
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 80%;
  font-size: 1.6rem;
  font-weight: lighter;
}
.icon-mb {
  width: 10%;
  height: 10%;
  display: inline-block;
}
.fa-chart-simple {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.fa-arrow-trend-up {
  font-size: 2rem;
  margin: 1rem;
  color: #2944b9;
}
/* Main Botttom */
/* Right */
.right-bottom {
  height: 30%;
  width: 100%;
  display: inline-block;
  display: flex;
}
.left-box-bottom{
    width:69%;
    height: 100%;
    display: inline-block;
}
.head-right-bottom{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.1rem;
}



.head-m-b{
    display: inline-block;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    height: 95%;
    border-radius: 0.6rem;
}
.box{
    display: inline-block;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    border-bottom: 0.067rem solid rgb(169, 162, 162);
    
}
.box1{
    border-top: 0.067rem solid rgb(169, 162, 162);
    font-weight: 600;
    background-color: rgb(186, 179, 179,0.3);
}
.head-cc{
    width: 100%;
    height: 60%;
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.6rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.box3{
    background-color: rgb(186, 179, 179,0.1);
    
}
.bbb{
    font-weight: 600;
}
/* Right */
.right-box-bottom{
 width:30%;
 height: 100%;
 display: inline-block;
 display: flex;
 justify-content: center;
 align-items: center;
}
.right-left-head{
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  height: 95%;
  border-radius: 1rem;
  background-color: white;
}
.checkboxes{
    width: 100%;
    height: 80%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-head-1{
    display: inline-block;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.6rem;
    font-size: 1.5rem;
    
    
}

.bbb1{
    font-weight: 600;
    font-size: 1.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 0.1rem solid rgb(183, 162, 162);
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.6rem;
}


